name: Tests

on:
  push:
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    name: Tests
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
        os:
          - ubuntu-latest

    runs-on: ${{ matrix.os }}
    env:
      working-directory: ./tm1637
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest
        
      - name: Format
        working-directory: ${{env.working-directory}}
        run: cargo fmt -- --check

      - name: Clippy --no-default-features 
        working-directory: ${{env.working-directory}}
        run: cargo clippy --no-default-features -- -D warnings
      
      - name: Clippy -- default
        working-directory: ${{env.working-directory}}
        run: cargo clippy --features=default -- -D warnings

      - name: Clippy -- async
        working-directory: ${{env.working-directory}}
        run: cargo clippy --features=async -- -D warnings
      
      - name: Clippy -- blocking
        working-directory: ${{env.working-directory}}
        run: cargo clippy --features=blocking -- -D warnings
      
      - name: Clippy -- mappings
        working-directory: ${{env.working-directory}}
        run: cargo clippy --features=mappings -- -D warnings

      - name: Clippy -- formatters
        working-directory: ${{env.working-directory}}
        run: cargo clippy --features=formatters -- -D warnings

      - name: Clippy -- disable-checks
        working-directory: ${{env.working-directory}}
        run: cargo clippy --features=disable-checks -- -D warnings

      - name: Clippy -- demo
        working-directory: ${{env.working-directory}}
        run: cargo clippy --features=demo -- -D warnings

      - name: Clippy --all-features
        working-directory: ${{env.working-directory}}
        run: cargo clippy --all --all-features -- -D warnings
        
      - name: Test
        working-directory: ${{env.working-directory}}
        run: cargo test --all-features
